
.name {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.quantityContainer{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.quantityHeader{
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
}