
.name {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.quantityContainer{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.quantityHeader{
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
}

.form {
    margin-left: 30px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    align-content: center;
    margin-bottom: 20px;
}

.submitBtn{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}