.navBar{
    padding: 20px;
    margin-bottom: 20px;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-between;
}   

.navBar .create{
    color: white;
    font-size: 1.5rem;  
}

.navBar .navBar-brand{
    color: white;
    font-size: 2rem;  
}

.navBar-brand:hover, .create:hover{
    color: white;

}